@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Monotes";
    font-weight: 900;
    src: url("./Monotes-EaRqg.ttf");
  }
}

@layer components {
  .clickable {
    @apply hover:opacity-80 active:opacity-100 cursor-pointer active:cursor-default;
  }

  .card {
    @apply flex flex-col p-4 text-center gap-2 rounded-lg border shadow-sm;
  }

  .btn {
    @apply px-4 py-1.5 rounded-md;
  }
}
